{% extends 'DHIN_REVAMP/base.html' %}
{% load static %}
{% block content %} 
    
    <style>
        
         .container
         {
            margin-bottom: 10px;
            margin-top: 5px;
         }
        
       
        @media (max-width: 768px) {

            .navbar-nav {
            text-align: left;
            padding: 0.5rem 0;
            }
    
            .nav-item {
            margin: 8px 0;
            }
            .footer-content {
                flex-direction: column;
                gap: 40px;
            }
            
            .newsletter-section {
                width: 100%;
            }
            
            .footer-bottom {
                flex-direction: column;
                gap: 20px;
            }
            

         

        }
    </style>


     <!-- Page content -->
     <main>
        <div class="container-fluid standards-section">
            <div class="container">
                <h1 class="text-center section-title py-3">THE STANDARDS ORGANIZATION OF NIGERIA (SON)
                    IN COLLABORATION WITH FEDERAL MINISTRY OF HEALTH (FMOH)</h1>
                    <h2 class="text-center py-3">32+1 ISO/TC 215 HEALTH INFORMATICS STANDARDS ADOPTED IN 2019</h2>
            <p class=" ">INTEROPERABILITY STANDARDS; TEN (10)<br>
                1. ISO/TR 17119: 2015 Health Informatics. Health Informatics profiling <br>
                2. ISO/TR 14639-1: 2012 Health Informatics. Capacity based eHealth architecture roadmap. <br>
                Part1. Overview of National eHealth Initiatives.<br>
                3. ISO/TR 14539-2: 2014 Health Informatics. Part 2. Architectural components and maturity
                model<br>
                4. ISO/TS 13131: 2014 Health Informatics. Telehealth services. Quality planning guidelines.<br>
                5. ISO/TS 17522: 2015 Health Informatics. Provision for health application on mobile /smart
                devices<br>
                6. ISO 82308: 2011 Health Informatics. Requirements for an electronic health record
                architecture.<br>
                7. ISO 27789: 2013 Health Informatics. Audit trails for electronic health records.<br>
                8. ISO/TR 17975: 2015 Health Informatics. Principle and data requirements for consent in the
                collection use or disclosure of personal health information<br>
                9. ISO/TR 17791: 2013 Health Informatics. Guidance on standards for enabling safety in health
                software.<br>
                10. IEC 82304 – 1: 2016 Health Software. Part 1. General requirements for product safety.<br>
                TECHNICAL INTEROPERABILITY STANDARDS; Sixteen (16)<br>
                1. ISO/TS 14441: 2013 Health Informatics. Security and privacy requirement of HER systems for
                use in conformity assessment.<br>
                2. ISO 13606-1: 2008 Health Informatics. Electronic Health Record communication. Part 1.
                Reference Model.<br>
                3. ISO 13606-2: 2008 Health Informatics. Part 2. Archetype interchange specification.<br>
                4. ISO 13606-5: 2010 Health Informatics. Part 5. Interface specification.<br>
                5. ISO/TR 11636: 2009 Health Informatics. Dynamic on demand virtual private network for
                health information infrastructure.<br>
                6. ISO 17090-1: 2013 Health Informatics. Public key infrastructure. Part 1. Overview of digital
                certificate service.<br>
                7. ISO 17090-2: 2015 Health Informatics. Public Key Infrastructure. Part 2. Certificate Profile.<br>
                8. ISO 17090-3: 2008 Health Informatics. Public Key Infrastructure Part 3. Policy management
                of certification authority.<br>
                9. ISO/TR 16056-1: 2004 Health Informatics. Interoperability of telehealth systems and
                networks. Part 1. Introduction and definitions.<br>
                10. ISO/TR 18307: 2001 Health Informatics. Interoperability and compatibility in messaging and
                communication standards. Key Characteristics.<br>
                11. ISO/TR 18638: 2017 Health Informatics. Guidance on health informatics privacy education in
                healthcare organisation.<br>
                12. ISO/TS 21547: 2010 Health Informatics. Security requirement for archiving of electronic
                health records. Principles.<br>
                13. ISO/TR 21548: 2010 Health Informatics. Security requirement for archiving of electronic
                health records. Guidelines.<br>
                14. ISO 27799: 2016 Health Informatics. Information security management in health using
                ISO/IEC 27002.<br>
                15. ISO 25237: 2017 Health Informatics. Pseudonymization.<br>
                16. ISO/TR 16056-2; 2004 Health Informatics. Interoperability telehealth systems and networks.
                Part 2. Real Time Systems. (Modified Adoption)<br>
                SEMANTIC INTEROPERABILITY (CONTENT) STANDARDS; SIX (6)<br>
                1. ISO 17523: 2016 Health Informatics. Requirements for Electronics Prescriptions.<br>
                2. ISO/TR 12300: 2014 Health Informatics. Principles of mapping between terminological
                Systems.<br>
                3. ISO/TR 12310: 2015 Health Informatics. Principles and Guidelines for the measurement of
                conformance in implementation of terminological systems.<br>
                4. ISO/TR 20514: 2015 Health Informatics. Electronic Health Records. Definitions, Scope and
                Context.<br>
                
                5. ISO/TR 13972: 2015 Health Informatics. Detailed Clinical Models. Characteristics and
                Processes.<br>
                6. ISO/TS Health Informatics. Development of terms and definitions for health informatics
                glossaries.<br>
            </p>
        </div>
    </main>

    {% endblock  %} 